#navbar{
    padding-left: 10rem;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:5rem;
    text-align: center;
}
h3{
    padding-bottom: 1rem;
}
.grid-item{
    display: inline-grid;
    padding-bottom: 3rem;
}
#balance-float-left{
    float:left;
}
#balance-float-right{
    float:right;
}
#work-float-left{
    float:left;
}
#work-float-right{
    float:right;
}
.col-sm{
    display:inline-block;
    padding-left:5rem;
    padding-right:5rem;
    padding-bottom:3rem;
}
#loan-button{
    margin-top:3rem;
}
.bank-work-buttons{
    display: inline-block;
    margin-top:3rem;
    text-align: center;
    
}
.product-summary{
    background-color:white;
    width:60%;
    height: auto;
    margin: 0 auto;   
    border:1px solid black;}
#header-description{
    font-size: 1rem;
}

#body-description{
    font-size: 0.8rem;
}

.container2{
    margin-bottom: 10%;
}